.container {
    width: 50%;
    overflow: hidden;
    margin: auto;
    text-align: left;
}

.about p {
    font-family: MontserratAlternates, Montserrat, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.about li {
    padding-bottom: 7px;
}

.italic {
    font-style: italic;
}