.container {
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.disclaimer {
    font-size: 0.8em;
    color: gray;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}