html,
body {
  background: rgb(218,203,255);
  background: linear-gradient(90deg, rgba(218,203,255,1) 0%, rgba(233,235,222,1) 4%, rgba(252,255,235,1) 96%, rgba(245,205,184,1) 100%);
  padding: 0;
  margin: 0;
  font-family: MontserratAlternates, Montserrat, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:link {
  color: #0000FF;
  text-decoration: none;
}

a:hover {
  color: #0088FF;
  text-decoration: underline;
}

a:visited {
  color: #FF0000;
}

a:active {
  color: #00FF00;
}

* {
  box-sizing: border-box;
}


/**
 * From here: https://www.1001freefonts.com/russian.font
 */
@font-face {
  font-family: "Russian";
  src: url("../public/fonts/Russian.ttf");
  font-display: swap;
}

/**
 * From here: https://www.1001freefonts.com/znikomit-no-25.font
 */
 @font-face {
  font-family: "ZnikomitNo25";
  src: url("../public/fonts/ZnikomitNo25.otf");
  font-style: normal;
  font-display: swap;
}

/**
 * From here: https://www.1001freefonts.com/klarissa.font
 */
@font-face {
  font-family: "Klarissa";
  src: url("../public/fonts/Klarissa.ttf");
  font-style: normal;
  font-display: swap;
}

/**
 * From here: https://www.1001freefonts.com/montserrat.font
 */
 @font-face {
  font-family: "MontserratAlternates";
  src: url("../public/fonts/MontserratAlternates-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

/**
 * From here: https://www.1001freefonts.com/montserrat.font
 */
 @font-face {
  font-family: "MontserratAlternates";
  src: url("../public/fonts/MontserratAlternates-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

:root {
  --base-background-color: #E9ECCE;
}
