.container {
    text-align: center;
}

.copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-right: 15px;
    font-weight: bold;
}

.industries {
    font-family: Klarissa, 'Courier New', Courier, monospace;
    font-size: 2em;
}

.promo {
    font-style: italic;
    font-size: 1.2em;
}