.centering {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

/* HIDE RADIO */
.radioOnly { 
    opacity: 0;
    width: 0;
    height: 0;
}

.imageWrapper {
    border-width: 7px;
    border-color: rgb(255, 255, 255, 0);
    border-style: solid;
    border-radius: 100%;
    transition-property: border-color;
    transition-duration: 0.4s;
}

.imageWrapperRockSelected {
    border-width: 7px;
    border-color: rgba(255, 0, 0, 1);
    border-style: solid;
    border-radius: 100%;
    transition-property: border-color;
    transition-duration: 0.4s;
}

.imageWrapperPaperSelected {
    border-width: 7px;
    border-color: rgba(0, 0, 255, 1);
    border-style: solid;
    border-radius: 100%;
    transition-property: border-color;
    transition-duration: 0.4s;
}

.imageWrapperScissorsSelected {
    border-width: 7px;
    border-color: rgba(0, 255, 0, 1);
    border-style: solid;
    border-radius: 100%;
    transition-property: border-color;
    transition-duration: 0.4s;
}

/* IMAGE STYLES */
.radioImg {
    cursor: pointer;
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 0px;
    transition-property: filter, border, border-width, border-color, border-style, border-radius;
    transition-duration: 0.3s;
}

.radioImg:hover {
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 41));
}

.imgsDiv {
    margin-top: 20px;
    display: inline-flex;

}

.label {
    margin-left: 15px;
    margin-right: 15px;
}

.buttonDiv {
    margin-top: 20px;
}

.alreadyVotedText {
    text-align: center;
}

.italic {
    font-style: italic;
}