.centering {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

/* HIDE RADIO */
.radioOnly { 
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.radioImg {
    cursor: pointer;
    transition-property: filter;
    transition-duration: 0.3s;
}

.radioImg:hover {
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 41));
}

.imgsDiv {
    margin-top: 20px;
}

.label {
    margin-left: 15px;
    margin-right: 15px;
}

.buttonDiv {
    margin-top: 20px;
}